/* ---- PALETTE ---- */

@water:#c0d8ff;
@park:#cea;
@park:rgb(230,245,208);
//@land:#dddcda;
//@land:#eae9e7;/* 1st choice */
//@land: #e8e0d8;
@land: #e8e8e3;

@school:#e8e8e3;

Map {
  background-color:@land;
}

 #water {
  line-color:rgb(190,245,241);
 line-width:0.5;
 polygon-opacity:1;
  polygon-fill:@water;
}


#landusages[zoom>=10] {
  [type='forest'],
  [type='wood'] {
     polygon-fill:@park;
     polygon-opacity: 0.5;
  }
  [type='cemetery'],
  [type='common'],
  [type='golf_course'],
  [type='park'],
  [type='pitch'],
  [type='recreation_ground'],
  [type='village_green'] {
    polygon-fill:@park;
  }
}

#landusages[zoom>=12] {
  [type='school'],
  [type='college'],
  [type='university'] {
    polygon-fill: @school;
  }
  

 
  
}

